doctype html
html
    head
        meta(charset='utf-8')
        link(href='css/style.css', rel='stylesheet', type='text/css')
        script(src='js/lib/bundle.min.js')
        script(src='js/app.js')
        style.
            #chart1 {
                padding: 40px;
            }
            #chart1 svg {
                height: 400px;
            }
    body
        h1 d3.js + nvd3.js
        p d3.jsんみを使用すると
        #chart1
            svg
        p